{% load dog_count_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
<link rel="stylesheet" type="text/css" href="/SDDatabase/dog/templates/dog/w3.css" media="screen"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Modak">
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

<style>
.w3-tangerine {
 font-family: 'Permanent Marker', serif;

}
</style>
</head>
<body>
<header class="w3-bar w3-theme-d4">

  <div class="w3-bar-item w3-left w3-mobile w3-xxlarge"><span class="w3-tangerine">Villmark</span> - Sled dog database</div>
  <div class="w3-bar-item w3-right w3-mobile w3-small w3-opacity w3-hide-small">Dogs in database: <span class="w3-xxlarge">{% dog_count %}</span></div>
  <a href="/medicalcards/" class="w3-bar-item w3-right w3-button w3-round-large w3-mobile w3-hover-text-teal w3-xxlarge fa fa-medkit"></a>
  <a href="/admin/" class="w3-bar-item w3-right w3-button w3-round-large w3-mobile w3-hover-text-teal w3-xxlarge fa fa-gear"></a>
  <a href="/" class="w3-bar-item w3-right w3-button w3-round-large w3-mobile w3-hover-text-teal w3-xxlarge fa fa-id-card"></a>

</header>

<!-- XXX:
<div class="w3-container">
<a href="#"><span class="w3-left w3-xxlarge">&laquo;</span></a>
<a href="#"><span class="w3-right w3-xxlarge">&raquo;</span></a>
 -->

<div class="w3-container w3-margin-top">

{% block content %}
{% endblock %}

</div>
</body>
</html>
