{% load dog_count_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<title>{% block title %}{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="/SDDatabase/dog/templates/dog/w3.css" media="screen"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
<body>

<div class="w3-container w3-teal w3-margin-bottom">
<div class="w3-left"><h1>Wilderness - Sled dog database</h1></div>
<div class="w3-right w3-small w3-opacity">Dogs in database: <span class="w3-jumbo">{% dog_count %}</span></div>

<!-- XXX:
<div class="w3-container">
<a href="#"><span class="w3-left w3-xxlarge">&laquo;</span></a>
<a href="#"><span class="w3-right w3-xxlarge">&raquo;</span></a>
 -->
</div>
</div>

<div class="w3-row-padding ">

{% block content %}
{% endblock %}

</div>
</body>
</html>
